<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.osp.debugger.launch.simul.SimulatorLaunchDelegate"
            id="com.osp.debugger.SumulatorLaunch"
            modes="run,debug"
            name="%LaunchSumulator.name"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="com.osp.debugger.launch.target.TargetLaunchDelegate"
            id="com.osp.debugger.TargetLaunch"
            modes="run,debug"
            name="%LaunchTarget.name"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.osp.debugger.SumulatorLaunch"
            icon="icons/obj16/c_app.png"
            id="com.osp.debugger.SumulatorLaunchImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="com.osp.debugger.TargetLaunch"
            icon="icons/obj16/c_app.png"
            id="com.osp.debugger.TargetLaunchImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.osp.debugger.launch.simul.SimulatorLaunchConfigurationTabGroup"
            id="com.osp.debugger.SumulatorLaunchTabGroup"
            type="com.osp.debugger.SumulatorLaunch">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.osp.debugger.launch.target.TargetLaunchConfigurationTabGroup"
            id="com.osp.debugger.TargetLaunchTabGroup"
            type="com.osp.debugger.TargetLaunch">
      </launchConfigurationTabGroup>      
   </extension>
   <extension
         point="org.eclipse.cdt.debug.core.CDebugger">
      <debugger
            class="com.osp.debugger.launch.simul.SimulatorDebugger"
            cpu="*"
            id="com.osp.debugger.SumulatorDebugger"
            modes="run"
            name="bada Simulator Debugger"
            platform="*"/>
     <debugger
            class="com.osp.debugger.launch.target.TargetDebugger"
            cpu="*"
            id="com.osp.debugger.TargetDebugger"
            modes="run"
            name="bada Target Debugger"
            platform="*"/>         
   </extension>
   <extension
         point="org.eclipse.cdt.debug.ui.CDebuggerPage">
      <debuggerPage
            class="com.osp.debugger.launch.simul.SimulatorDebuggerPage"
            debuggerID="com.osp.debugger.SumulatorDebugger"
            id="com.osp.debugger.SimulatorDebuggerPage">
      </debuggerPage>
      <debuggerPage
            class="com.osp.debugger.launch.target.TargetDebuggerPage"
            debuggerID="com.osp.debugger.TargetDebugger"
            id="com.osp.debugger.TargetDebuggerPage">
      </debuggerPage> 
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%OspSimulAppShortcut.label"
            icon="icons/obj16/c_app.png"
            modes="run, debug"
            class="com.osp.debugger.launch.shortcut.OSPSimulLaunchShortcut"
            id="com.osp.debugger.launch.OspSimual">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                   <or>
                     <instanceof value="org.eclipse.cdt.core.model.IBinary"/>
                     <instanceof value="org.eclipse.cdt.core.model.ICProject"/>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.cdt.launch.isExecutable"/>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.cdt.launch.isCProject"/>
                     <and>
                       <instanceof value="org.eclipse.ui.IFileEditorInput"/>
                       <adapt type="org.eclipse.core.resources.IResource">
                         <adapt type="org.eclipse.cdt.core.model.ICElement"/>
                       </adapt>
                     </and>
                   </or>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
         <description
             mode="run"
             description="%ContextualRunOspSimUlApp.description"/>
          <description
             mode="debug"
             description="%ContextualDebugOspSimUlApp.description"/>
         <configurationType
               id="com.osp.debugger.SumulatorLaunch">
         </configurationType>
	</shortcut>
      <shortcut
            class="com.osp.debugger.launch.shortcut.OSPTargetLaunchShortcut"
            icon="icons/obj16/c_app.png"
            id="com.osp.debugger.launch.OspTarget"
            label="%OspTargetAppShortcut.label"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.eclipse.cdt.core.model.IBinary">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.cdt.core.model.ICProject">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.cdt.launch.isExecutable">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.cdt.launch.isCProject">
                        </test>
                        <and>
                           <instanceof
                                 value="org.eclipse.ui.IFileEditorInput">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <adapt
                                    type="org.eclipse.cdt.core.model.ICElement">
                              </adapt>
                           </adapt>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="%ContextualRunOspTargetApp.description"
               mode="run">
         </description>
         <description
               description="%ContextualDebugOspTargetApp.description"
               mode="debug">
         </description>
         <configurationType
               id="com.osp.debugger.TargetLaunch">
         </configurationType>
      </shortcut>
   </extension>
</plugin>
